html
    head
        title= title
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
        script()
    body
        div.container
            h1 Listes des questions

            form(action="/api/v1/quiz/" + quizId + "/questions" method="POST")
                input(type="hidden" name="quizId" id="quizId" value=quizId)
                each question in questions
                    h3 #{question.name} ajoutée dans #{quizCountByQuestion[question.id] || 0} questionnaires
                    input.form-control(type="checkbox" name=question.id id=question.id style="display:block")
                    br
                br
                button.btn.btn-success(type="submit") Enregistre


    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/main.js"></script>
