html
    head
        title= title
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
        script()
    body
        div.container
            h1 Modifier une Question
            if(error)
                h2(style={color:"red"}) This name already exists
            form(action="/api/v1/question/"+question.id+"?_method=PUT" method="POST")
                input(type="hidden" name="questionId" id="questionId" value=question.id)
                input(type="hidden" name="courseId" id="courseId" value=question.courseId)
                input(type="hidden" name="teacherId" id="teacherId" value=question.teacherId)
                input(type="hidden" name="_method" value="PUT")

                .form-group
                    label(for="tags" style="display:block") Tags(séparés par des virgules):
                    input.form-control(type="text" name="tags" id="tags" placeholder="Tags" style="display:block" value=question.tags.join(','))

                .form-group
                    label(for="name" style="display:block") Nom:
                    input.form-control(type="text" name="name" id="name" placeholder="Name" style="display:block" value=question.name)

                .form-group
                    label(for="statement" style="display:block") Énoncé:
                    textarea.form-control( name="statement" id="statement" style="display:block")=question.statement

                .form-group
                    label(style="margin-right:10px;") Type de réponse:
                    label.radio-inline(style="margin-right:25px;")
                        if (#question.type == 'truth-radio')
                            input#truth-radio(type="radio", name="type", value="truth-radio" onClick="showAppropriateAnswer()" checked="true")
                        else
                            input#truth-radio(type="radio", name="type", value="truth-radio" onClick="showAppropriateAnswer()" checked="false")
                        | Vrai ou Faux
                    label.radio-inline(style="margin-right:25px;")
                        if (question.type == "numeric-radio")
                            input#numeric-radio(type="radio", name="type", value="numeric-radio" onClick="showAppropriateAnswer()" checked="true")
                        else
                            input#numeric-radio(type="radio", name="type", value="numeric-radio" onClick="showAppropriateAnswer()" checked="false")
                        | Valeur numérique
                    label.radio-inline(style="margin-right:25px;")
                        if (question.type == 'short-radio')
                            input#short-radio(type="radio", name="type", value="short-radio" onClick="showAppropriateAnswer()" checked="true")
                        else
                            input#short-radio(type="radio", name="type", value="short-radio" onClick="showAppropriateAnswer()" checked="false")
                        | Réponse courte
                    label.radio-inline(style="margin-right:25px;")
                        if (question.type == 'essay-radio')
                            input#essay-radio(type="radio", name="type", value="essay-radio" onClick="showAppropriateAnswer()" checked="true")
                        else
                            input#essay-radio(type="radio", name="type", value="essay-radio" onClick="showAppropriateAnswer()" checked="false")
                        | Réponse essais

                div#truthFalseAnswer(style="display:none;")
                    label(for="truth-checkbox" style="display:block") Verite:
                    input.form-control(type="checkbox" name="truth")

                div#numericAnswer(style="display:none;")
                    label(for="truth" style="display:block") Réponse numérique:
                    input.form-control(type="number" name="numeric" min="0" step="1" style="display:block")

                div#shortAnswer(style="display:none;")
                    label(for="truth" style="display:block") Réponse courte:
                    input.form-control(type="text" name="shortAnswer" style="display:block")

                div#essayAnswer(style="display:none;")
                    label(for="truth" style="display:block") Réponse essais:
                    textarea.form-control(name="essayAnswer" style="display:block")

                .form-group
                    label(for="successText" style="display:block") TexteBonneReponse:
                    textarea.form-control( name="successText" id="successText" style="display:block")=question.successText

                .form-group
                    label(for="failureText" style="display:block") TexteMauvaiseReponse:
                    textarea.form-control( name="failureText" id="failureText" style="display:block")=question.failureText
                button.btn.btn-primary(type='submit') Enregistre


    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/main.js"></script>

