html
    head
        title= title
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
        script()
    body

    div.container
        h1 Consultation de la question : #{question.name}

        dl
            h1 Nom : #{question.name}
            h3 Type de question : Vrai/Faux
            h3 Catégories : #{question.tags.join(',')}
            h3 Enonce : #{question.statement}
            h3 Bonne reponse : #{question.truth}
            h3 Message bonne reponse : #{question.successText}
            h3 Message mausaise reponse : #{question.failureText}

            a(href="/questions/supprimer?questionID="+question['id']+ "&coursID="+coursID) Supprimer Question
            br
            a(href="/questions/edit?id=" + question['id']) modifier
            br
            a(href="/questions") retour a la liste
