html
    head
        title= title
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
        script()
    body

    div.container
        h1 Consultation de la question : #{question._name}

        dl
            h1 Nom : #{question._name}
            h3 Type de question : #{question.type}
            h3 Catégories : #{question._tags.join(',')}
            h3 Enonce : #{question._statement}
            h3 Bonne reponse : #{question._expectedAnswer.value}
            h3 Message bonne reponse : #{question._successText}
            h3 Message mausaise reponse : #{question._failureText}

            a.btn.btn-danger(href='/question/' + question.id + "/delete", style='margin-bottom: 10px; margin-right: 10px') Supprimer Question
            br
            a.btn.btn-warning(href="/question/" + question.id + "/edit") Modifier
            br
            a(href="/question") Retour a la liste
